Mesmo codigo feito em pandas.py vai ser reeescrito aqui

In [1]:
import pandas as pd
# exemplo de daata frame usando a biblioteca pandas do python


datatest = {
    'nome': ['joao','maria','jose'],
    'idade': [14,20,38],
    'pais': ['brazil','portugal','angola']
}

#dataframe

dataframe = pd.DataFrame(datatest)

display(dataframe)

    nome  idade      pais
0   joao     14    brazil
1  maria     20  portugal
2   jose     38    angola